<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/todo.css" />
  </head>
  <body>
    <div id="bootstrap_id">
      <h2>Todo</h2>
      <div ng-controller="TodoController">
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [ <a href="" ng-click="archive()">archive</a> ]
        <ul class="unstyled">
          <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done" />
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </li>
        </ul>
        <form ng-submit="addTodo()">
          <input
            type="text"
            ng-model="todoText"
            size="30"
            placeholder="add new todo here"
          />
          <input class="btn-primary" type="submit" value="add" />
        </form>
      </div>
    </div>
    <script src="../js/angular.min.js"></script>
    <script src="js/todolist.js"></script>
  </body>
</html>
